<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>文章</title>
  <link href="/public/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/blog.css" rel="stylesheet" />
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
         <![endif]-->

</head>
<body>
  <%- include ./master/header.html%>
   
    <div class="container">
      <%-include ./master/banner.html%>

        <div class="row">

          <div class="col-sm-9 blog-main">

            <div class="blog-post">
              <h2 class="blog-post-title"><%=data.title%></h2>

              <ul class="blog-link-left">
                <li><%=data.vcreateDate %></li>
                <li>by</li>
                <li>
                  <a href="javascript:void(0)"><%=data.author %></a>
                </li>
                <li>
                  <a href="javascript:void(0)"><%= ( data.class[0] ?data.class[0].name:'') %>
                  </a>
                </li>
              </ul>

              <%=data.content%>
            </div>

            <ul class="blog-detail-next-pre">
              <li><a href="#">目录</a></li>
              <li>分类：<a href="#"><%=(data.class[0] && data.class[0].name)%></a></li>
              <!--  <li>上一篇：<a href="#">XXXXXXXXXXX</a></li>
                    <li>下一篇：<a href="#">XXXXXXXXXXX</a></li>-->
            </ul>

            <div class="blog-user-post-container">
              <h4>评论</h4>
              <div class="pagination pagination-right">
                <ul>
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>

                </ul>
              </div>

              <div class="blog-user-post-detail">
                <ul class="blog-link-left">
                  <li>#1</li>
                  <li>2013/05/01</li>
                  <li>by</li>
                  <li><a href="javascript:void(0)">小小鱼</a></li>
                </ul>
                <div class="blog-usr-post-content">
                  asdf
                            asdfasdfasdfasdfasdf sadfasdf asdfasd fadfasdfasdfasdfasdfasdfasdfasdfasdfasdfasddfasdfasdfasdfasdfasdfasdfasdfasdfasdfasddfasdfasdfasdfasdfasdfasdfasdfasdfasdfasddfasdfasdfasdfasdfasdfasdfasdfasdfasdfasddfasdfasdfasdfasdfasdfasdfasdfasdfasdfasddfasdfasdfasdfasdfasdfasdfasdfasdfasdfasddfasdfasdfasdfasdfasdfasdfasdfasdfasdfasddfasdfasdfasdfasdfasdfasdfasdfasdfasdfasddfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdsdf asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
                            <br />
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                           <br />
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                           <br />
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                           <br />
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                           <br />
                </div>
                <ul class="blog-link-right">
                  <li><a href="javascript:void(0)">引用</a></li>
                  <li><a href="javascript:void(0)">赞成(0)</a></li>
                  <li><a href="javascript:void(0)">反对(0)</a></li>
                </ul>
                <hr class="blog-post-end" />
              </div>
              <div class="blog-user-post-detail">
                <ul class="blog-link-left">
                  <li>#1</li>
                  <li>2013/05/01</li>
                  <li>by</li>
                  <li><a href="javascript:void(0)">小小鱼</a></li>
                </ul>
                <div>
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                            <br />
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                           <br />
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                           <br />
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                           <br />
                  asdfasdfasdfasdfasdf sadfasdf asdfasd fasdf asdf
                           <br />
                </div>
                <hr class="blog-post-end" />
              </div>


            </div>

          </div>
          <!-- /.blog-main -->

          <%-include ./master/sidebar.html %>
            <!-- /.blog-sidebar -->

        </div>
      <!-- /.row -->

    </div>
  <!-- /.container -->
  <%- include ./master/footer.html %>
</body>
</html>
