<div class="col-sm-3 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset" style="font-size: 12px">
                    <h4>关于作者</h4>
                    <p>美国著名科幻奇幻小说家乔治·R·R·马丁所著的史诗奇幻小说系列，是当代奇幻文学一部影响深远的里程碑式的作品。</p>
                    <p>于1996年初第一卷问世时，便以别具一格的结构、浩瀚辽阔的视野、错落有致的情节和生动活泼的语言，迅速征服了欧美文坛。</p>
                    <p>迄今，本作已被译为三十多种文字，并在各个国家迭获大奖。</p>
                </div>

                <div class="sidebar-module sidebar-module-inset">
                    <h4>分类</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">GitHub</a>
                        </li>
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                    </ol>
                </div>


                <div class="sidebar-module sidebar-module-inset">
                    <h4>档案</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                        <li>
                            <a href="#">2012-5(25)</a>
                        </li>
                    </ol>
                </div>

            </div>