<div class="col-sm-3 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset" style="font-size: 12px">
                   <%=sidebar.description%>
                </div>

                <div class="sidebar-module sidebar-module-inset">
                    <h4>分类</h4>
                    <ol class="list-unstyled">
                      <% for (var i=0; i<sidebar.articleClass.length; i++) {%>
                    
                         <li>
                            <a href="/class/<%=sidebar.articleClass[i].name%>" target="_blank"><%=sidebar.articleClass[i].name%></a>
                        </li>
                      <%}%>
                    </ol>
                </div>


                <div class="sidebar-module sidebar-module-inset">
                    <h4>档案</h4>
                    <ol class="list-unstyled">
                      <%for(var i=0;i<sidebar.archive.length;i++){%>
                        <li>
                            <a href="#"><%=sidebar.archive[i].month%>(<%=sidebar.archive[i].count%>)</a>
                        </li>
                        <%}%>
                    </ol>
                </div>

            </div>